/* Aún no visto como relacionarlo con el index.html */

/* probando crear una rama */
#header {
    background-color: #16a9bd;
    font-size: 17px;
    color: #3f110eea;
    margin: 30px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-style: italic;
}

#footer {
    background-color: #16a9bd;
    color: #3f110eea;
    margin: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 10px;
}

.links {
    margin: 30px;
    padding: 5px 5px 5px 5px;
    background-color: bisque;
    text-align: center;
}

.tabla {
    margin: 30px;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    text-align: center;
}